{% extends 'template/index.html' %}
{% block body %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Skill India NSDC India</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    i{
        color: rgb(0, 162, 255);
    }
</style>

  </head>
  <body>
<section class="mb-5">
    <div class="container-fluid m-auto" style=" height: 250px; display: flex; align-items: center; text-align: center; justify-content: center; border:2px black solid">
        <div class="row align-items-center m-auto">

                        <div class="text-center">
                          <h1><b>Contact Us</b></h1>
                          <p>Skill India NSDC India
                          </p>
                        </div>
      </div>
      </div>
</section>

<div class="container">
  <div class="row">
        <!-- Single Contact -->
        <div class="col-md-4 text-center">
            <i class="fa fa-location-arrow"></i>
            <div class="c-text">
                <h4>Address</h4>
                <p style="font-size:17px;"><a href="https://www.google.co.in/maps/place/D+Block,+101,+Rashtriya+Vidyalaya+Rd,+Upparahalli,+Mavalli,+Bengaluru,+Karnataka+560004/@12.9526144,77.5777557,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae15e8da50d9a9:0xecda83c1c11b4a86!8m2!3d12.9526144!4d77.5799444" target="_blank">101, Rashtriya Vidyalaya Rd, D Block, Basavanagudi, Bengaluru, Karnataka 560004</a> </p>
            </div>
        </div>
        <!--/ End Single Contact --
        <!-- Single Contact -->
        <div class="col-md-4 text-center">
        <div class="single-contact-box">
            <div class="c-icon"><i class="fa fa-envelope-o"></i></div>
            <div class="c-text">
                <h4>Email Us</h4>
                <p style="font-size:17px;"><a href="mailto:support@edu-nsdcindia.org">support@edu-nsdcindia.org</a></p>
            </div>
        </div>
        </div>
  </div>
</div>
    <div class="container-fluid mt-5">
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.3004809347503!2d77.57775571474009!3d12.952614390868371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15e8da50d9a9%3A0xecda83c1c11b4a86!2sD%20Block%2C%20101%2C%20Rashtriya%20Vidyalaya%20Rd%2C%20Upparahalli%2C%20Mavalli%2C%20Bengaluru%2C%20Karnataka%20560004!5e0!3m2!1sen!2sin!4v1630742582671!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </div></div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}
