{% extends 'template/index.html' %}
   {% block body %}
<div class="container">
<b> Examination Fee </b>
<ul>
<li>Candidates are required to pay a non-refundable application fee. The fee once paid will not be refunded on any account.</li>
<li>In addition, bank charges, as applicable, will be charged for payment through Credit/Debit Card (Master or Visa approved) and internet banking.</li>
<li>Fee once paid will not be refunded under any circumstances.</li>
<li>In case of any applicant found to have paid more fee than prescribed, due to technical reason and on receiving the communication from the said applicant, the said extra payment, if found, shall be refunded to the same origin from which the payment is received.</li>
</ul>
<b>Note:</b> <br>
<p>Candidates facing the problem of deduction of application fee amount without getting the Registration Slip generated (failed registration) are required to apply again in the online application portal before the last date of online application. These candidates can submit the request for refund of failed registration amount along with transaction reference no. details separately.</p>
<b>BO Clause</b>
<p>"We as a merchant shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any Transaction, on Account of the Cardholder having exceeded the preset limit mutually agreed by us with our acquiring bank from time to time"</p>
</div>
{% endblock %}